<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="'stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <p><%= age %>대 <%= gender %>성이 접속했습니다</p>
    </body>
</html>