<!DOCTYPE html>
<html>
    <head>
        <title><%= title%></title>
    </head>
    <body>
        <form action="/postTest" method="post">
            <input type="number" name="from" placeholder="Enter id here">
            <input type="number" name="to" placeholder="Enter age here">
            <input type="sumit" value="sumit">
        </form>
    </body>
    
</html>